body{
    margin: 0;
}
h1{
    font-family: 'News Cycle', sans-serif;
    color: black;
}

p{
    font-family: 'Poppins', sans-serif;
}

.flexible-container{
    display: flex;
}

/* header */

.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width h1{
    font-size: 70px;
}

.Mission-color{
    color: orangered;
}

.half-width img{
    width: 80%;
    padding-bottom: 5%;
}

.button{
    text-decoration: none;
    font-size: 20px;
    background-color:orangered;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin-top: 15%;
}

/* My Mission in 2022 */
.My-Mission-in-2022-area h1{
    text-align: center;
    font-size: 40px;
}
.three-section{
    padding-left: 10%;
}

.three-section img{
    width: 100px;
    
}

.three-container{
    width: 20%;
    padding: 30px;
    border-radius: 20px;
}
.three-container h4{
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
#container-first{
    background-color: #EDF5F6;
}

#container-middle{
    background-color: #FFEEEE;
    margin-left: 5%;
}

#container-thard{
    background-color:#FFF4D6;
    margin-left: 5%;
}


/* My Mission in 2022 */

.half-width-Develop-area{
    padding-left: 10%;
    margin-top: 10%;
}

.half-width-Develop-area img{
    width: 80%;
}

.text-area{
    margin-top: 5%;
    margin-left: 5%;
    padding-right: 10%;

}

.text-area h1{
    font-size: 40px;
}

.text-area-Community-area{
    padding-left: 10%;
    margin-top: 10%;
}

.text-area-Community-area h1{
    font-size: 40px;
}

.corona-application{
    text-align: center;
    margin-top: 10%;
    font-size: 40px;
}


/* footer */

.footer{
    background-color: black;
    padding: 5%;
}

.footer h1{
    text-align: center;
    color: white;
}

.footer p{
    text-align: center;
    color: white;
}
